@font-face {
    font-family: 'fonte2e59564eadbc8a9636de9d0b7acfa12';

    src:    url('https://nomail.com.ua/files/eot/e2e59564eadbc8a9636de9d0b7acfa12.eot?#iefix') format('embedded-opentype'),
    url('https://nomail.com.ua/files/woff/e2e59564eadbc8a9636de9d0b7acfa12.woff') format('woff'),
    url('https://nomail.com.ua/files/woff2/e2e59564eadbc8a9636de9d0b7acfa12.woff2') format('woff2');
}

@font-face { font-family: 'FuturaNewBook-Reg';  src: local('FuturaNewBook-Reg'), url('https://nomail.com.ua/files/woff/e2e59564eadbc8a9636de9d0b7acfa12.woff') format('woff'); }


body {
    background-color: #ffffff;
    width: 100vw;
    overflow-x: hidden;
    position: relative;
    height: 100vh;
}

a, a:visited{
    color: black;
    font-family: 'FuturaNewBook-Reg', sans-serif;
    text-decoration: none;
}


.header {
    margin-top: 0;
    width: 100vw;
    height: 70px;
    background-color: white;
    font-family: 'FuturaNewBook-Reg', sans-serif;
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 10;
}

.logo {
    margin-top: 20px;
    margin-left: 20px;
    width: 130px;
}

.menu {
    width: 60vw;
    margin-left: 60px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}

.menu > li {
    margin: 12px;
    font-size: 14px;
    font-family: 'FuturaNewBook-Reg', sans-serif;
}

.menu > li :hover, .user_features > li :hover {
    opacity: 0.5;
    transition: 0.1s opacity;
}

.user_features {
    flex-shrink: 0;
    width: 15vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}

.user_features > li > a {
    font-size: 12px;
    position: relative;
}
.user_features > li > a > span {
    position: absolute;
    padding: 15px 0;
    font-weight: bold;
}

.main_icon {
    margin: 12px;
    width: 20px;
    float: left;
}

.home {
    width: 100vw;
    margin-top: 70px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home :hover {
    opacity: 1;
    transition: all 0.4s
}
.main_picture {
    position: relative;
    height: 600px;
}

.main_picture > * > img {
    width: 100%;
    max-height: 600px;
}

.additional_pictures {
    position: relative;
    height: 600px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.additional_pictures > * > img {
    opacity: 0.9;
    height: 600px;
    transition: all 0.4s;
    flex-shrink: 0;
}

.global_giv {
    margin-top: 70px;
    position: absolute;
    width: 100vw;
    height: calc(100% - 70px);
    display: flex;
    flex-direction: row;
}

.catalog_menu {
    width: 17%;
    height: calc(100% - 120px);
    margin-top: 50px;
    margin-left: 30px;
    font-family: 'FuturaNewBook-Reg', sans-serif;
    font-size: 14px;
}

.catalog_categories > *{
    list-style-type: none;
    margin-left: 0;
    transition: all 0.2s;
    width: 50px;
}

.catalog_categories :hover {
    opacity: 0.5;
    transition: all 0.2s ;
}

.catalog_category {
    margin-top: 15px;
    font-size: 13px;
    width: 50px;
}


.catalog_box {
    margin-top: 20px;
    width: 80%;
    margin-left: 10px;
    font-family: 'FuturaNewBook-Reg', sans-serif;
}

.filter_box {
    font-size: 13px;
    display: flex;
    flex-direction: row;
}

.filter {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.filter_element {
    margin-left: 20px;
    height: 15px;
    transition: all 0.2s;
    text-decoration: underline;
    cursor: pointer;
    display: flex;
    flex-direction: row;
}

.filter :hover {
    text-decoration: none;
}

.color_list{
    z-index: 10;
    position: absolute;
    margin-top: 20px;
    margin-left: 10px;
    background-color: white;
    width: 200px;
    height: auto;
    padding: 10px 0;
}

.color_list > *{
    margin-top: 10px;
    text-decoration: none;
    width: 70px;
}

.catalog_items {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.item {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.item_pics {
    height: 430px;
    width: 320px;
    position: relative;
}

.item_pics > img {
    height: 430px;
    width: 320px;
    position:absolute;
}
.item_pics img {
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.item_pics img.item_pics_add {opacity:0;filter:alpha(opacity=0);}
.item_pics:hover img.item_pics_add {opacity:1;filter:alpha(opacity=100);}
.item_pics:hover img.item_pics_main, .item_pics img.item_pics_main:hover {opacity:0;filter:alpha(opacity=0);}

.item_price {
    font-size: 13px;
    margin-top: 4px;
    font-weight: bolder;
}

.item_price > s {
    color: grey;
    margin-left: 15px;
}

.item_name {
    margin-top: 5px;
    font-size: 14px;
}

