@font-face {
    font-family: 'fonte2e59564eadbc8a9636de9d0b7acfa12';

    src: url('https://nomail.com.ua/files/eot/e2e59564eadbc8a9636de9d0b7acfa12.eot?#iefix') format('embedded-opentype'),
    url('https://nomail.com.ua/files/woff/e2e59564eadbc8a9636de9d0b7acfa12.woff') format('woff'),
    url('https://nomail.com.ua/files/woff2/e2e59564eadbc8a9636de9d0b7acfa12.woff2') format('woff2');
}

@font-face {
    font-family: 'FuturaNewBook-Reg';
    src: local('FuturaNewBook-Reg'), url('https://nomail.com.ua/files/woff/e2e59564eadbc8a9636de9d0b7acfa12.woff') format('woff');
}

#root {
    width: 100vw;
    padding-bottom: 50px;
    height: 100%;
}

body {
    background-color: #ffffff;
    width: 100vw;
    overflow-x: hidden;
    position: relative;
    height: 100vh;
}


a, a:visited {
    color: black;
    font-family: 'FuturaNewBook-Reg', sans-serif;
    text-decoration: none;
    outline: none;
}

button {
    outline: 0;
    outline-offset: 0;
}

.footer {
    margin-top: 50px;
    width: 100vw;
    height: 100px;
    background: #dee9ec;
    font-family: 'FuturaNewBook-Reg', sans-serif;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    bottom: 0;
}

.company {
    width: 20%;
}

.social {
    margin-left: 100px;
    display: flex;
    flex-direction: row;
    width: 300px;
    justify-content: space-between;
}

.social_text {
    transition: all 0.4s;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    line-height: 100px;
    display: flex;
    flex-direction: row;
    opacity: 1;
}

.social_text > img {
    width: 18px;
    height: 18px;
    margin-right: 10px;
    margin-left: 20px;
}

.social_text:hover {
    opacity: 0.7 !important;;
}


.header {
    margin-top: 0;
    width: 100vw;
    height: 70px;
    background-color: white;
    font-family: 'FuturaNewBook-Reg', sans-serif;
    display: flex;
    text-transform: uppercase;
    font-weight: 600;
    flex-direction: row;
    position: fixed;
    z-index: 100;
}

.logo {
    width: 130px;
    margin-left: -100px;
}

.small_menu {
    max-width: 55px;
    min-height: 70px;
    cursor: pointer;
}

.small_menu_icon {
    max-width: 55px;
    max-height: 70px;
    margin-top: 5px;
}

.small_menu_icon_rotated {
    max-width: 55px;
    max-height: 70px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}


.small_menu_drawer {
    position: absolute;
    background-color: rgba(111, 111, 111, 0.9);
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 70px;
}

.small_menu_ul {
    position: absolute;
    background: #fff;
    width: 300px;
    height: 390px;
    overflow-y: auto;
    margin-top: 0;
    cursor: default;
    list-style-type: none;
    font-size: 13px;
    display: flex;
    flex-direction: column;
}

.small_menu_ul h3 {
    border-top: 1px solid #ebebeb;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.small_menu_ul h3 * {
    font-size: 17px;
    margin-top: 15px;
    font-weight: 600;

}

.small_menu_ul li {
    height: 50px;
    border-top: 1px solid #ebebeb;
    margin-top: 15px;
    line-height: 60px;
}

.small_menu_ul li * {
    display: inline-block;
    cursor: pointer;
    font-size: 13px;
    transition: 0.4s ease-in-out;
    font-weight: 400;
}

.small_menu_ul li a:hover {
    opacity: 0.7;
    transition: 0.4s ease-in-out;
}

.menu {
    width: 60vw;
    margin-left: 60px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}

.menu > li {
    margin: 12px;
    font-size: 12px;
    font-family: 'FuturaNewBook-Reg', sans-serif;
    height: 20px;
}

.menu > li :hover, .user_features > li :hover {
    opacity: 0.5;
    transition: 0.1s opacity;
}

.menu_active {
    border-bottom: 2px solid #e1e1e1;
}

.user_features {
    margin-left: 50px;
    height: 70px;
    flex-shrink: 0;
    width: 15vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}

.user_features > li > a {
    font-size: 12px;
    position: relative;
}

.user_features > li > a > span {
    position: absolute;
    padding: 15px 0;
    font-weight: bold;
}

.user_features > li > * {
    cursor: pointer;
}

.main_icon {
    margin: 12px;
    max-width: 20px;
    height: 20px;
    float: left;
}

.home {
    width: 100vw;
    margin-top: 70px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home :hover {
    opacity: 1;
    transition: all 0.4s
}

.main_picture {
    position: relative;
    height: 600px;
    background: url('https://iamstudio.ru/upload/iblock/6d0/6d01bbfb67c15689a193239f57dcfd39.jpg');
    background-size: cover;
}

.main_picture > * > img {

    max-height: 600px;
}

.additional_pictures {
    position: relative;
    height: 600px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.additional_pictures > * > img {
    opacity: 0.9;
    height: 600px;
    transition: all 0.4s;
    flex-shrink: 0;
}

.with_footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

.global_giv {
    margin-top: 70px;
    position: relative;
    width: 100vw;
    height: calc(100% - 70px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'FuturaNewBook-Reg', sans-serif;
}


.catalog_menu {
    width: 17%;
    height: calc(100% - 120px);
    margin-top: 50px;
    margin-left: 30px;
    font-family: 'FuturaNewBook-Reg', sans-serif;
    font-size: 14px;
    position: fixed;
    left: 0px;
}

.catalog_categories > * {
    list-style-type: none;
    margin-left: 0;
    transition: all 0.2s;
    width: 50px;
}

.catalog_categories :hover {
    opacity: 0.5;
    transition: all 0.2s;
}

.catalog_category {
    cursor: pointer;
    margin-top: 15px;
    font-size: 13px;
    width: 100px;
}


.catalog_box {
    margin-top: 20px;
    width: 80%;
    margin-left: 120px;
    font-family: 'FuturaNewBook-Reg', sans-serif;
}

.filter_box {
    font-size: 13px;
    display: flex;
    flex-direction: row;
    width: 80%;
}

.filter {
    width: 30%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
}


.filter_element {
    margin-left: 20px;
    height: 15px;
    transition: all 0.2s;
    text-decoration: underline;
    cursor: pointer;
    display: flex;
    flex-direction: row;
}

.filter :hover {
    text-decoration: none;
}

.select {
    min-width: 80px;
}

.reset {
    min-width: 100px;
}

.color {
    min-width: 170px;
}

.sort {
    margin-left: 100px;
    min-width: 250px;
}

.color_list {
    z-index: 10;
    position: absolute;
    margin-top: 20px;
    margin-left: 10px;
    background-color: white;
    width: 200px;
    height: auto;
    padding: 10px 0;
}

.color_list > * {
    margin-top: 10px;
    text-decoration: none;
    width: 70px;
}

.color_palette {
    min-width: 10px;
    min-height: 10px;
    max-height: 10px;
    margin-left: 3px;
}

.color_item {
    width: 100px;
    font-size: 15px;
    height: 15px;
    line-height: 15px;
}

.color_item * {
    margin-top: 1px;
}


.catalog_items {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    flex-wrap: wrap;
}

.item {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 15px;
}

.item_pics {
    height: 480px;
    width: 320px;
    position: relative;
    cursor: pointer;
}

.item_pics > img {
    height: 480px;
    width: 320px;
    position: absolute;
}

.item_pics img {
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.item_pics img.item_pics_add {
    opacity: 0;
    filter: alpha(opacity=0);
}

.item_pics div.into_preview {
    opacity: 0;
    filter: alpha(opacity=0);
}

.item_pics:hover img.item_pics_add {
    opacity: 1;
    filter: alpha(opacity=100);
}

.item_pics:hover div.into_preview {
    opacity: 1;
    filter: alpha(opacity=100);
    transition: all 0.4s;
}

.item_pics:hover img.item_pics_main, .item_pics img.item_pics_main:hover {
    opacity: 0;
    filter: alpha(opacity=0);
}

.item_pics:hover img.wish_catalog {
    opacity: 1;
    filter: alpha(opacity=100);
    transition: all 0.2s;
}

.item_price {
    font-size: 14px;
    margin-top: 4px;
    font-weight: bolder;
    font-family: 'FuturaNewBook-Reg', sans-serif;
}

.item_price > s {
    color: grey;
    margin-left: 14px;
}

.item_name {
    margin-top: 5px;
    font-size: 15px;
    font-family: 'FuturaNewBook-Reg', sans-serif;
}

.into_preview {
    margin-top: 430px;
    background: #252525;
    position: absolute;
    width: 320px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    color: white;
    font-size: 13px;
    height: 50px;
    cursor: pointer;
    transition: all 0.7s;
    font-family: 'FuturaNewBook-Reg', sans-serif;
}

.overlay {
    display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    z-index: 300;
}


.item_preview {
    position: absolute;
    background: white;
    width: 1015px;
    height: 605px;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}


.item_preview > * {
    z-index: 100;
}

.item_gallery {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-left: 25px;
}

.item_gallery_product {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-left: 25px;
    width: 600px;
}

.item_gallery_box {
    display: flex;
    flex-direction: column;
    width: 105px;
    height: 530px;
}

.item_gallery_feed {
    display: flex;
    flex-direction: column;
    width: 105px;
    overflow: hidden;
    scroll-behavior: smooth;
    position: relative;
    margin-top: 15px;
    height: 505px;
}

.item_picture {
    width: 80px;
    height: 112px;
    margin-top: 5px;
    margin-left: 3px;
}

.item_picture_active {
    width: 80px;
    height: 112px;
    margin-top: 5px;
    border: 3px solid #252525;
    border-left: 4px solid #252525;
    margin-left: 3px;
}

.item_gallery_product .item_head_picture {
    max-width: 480px;
    max-height: 700px;
}

.item_head_picture {
    margin-top: 20px;
    margin-left: 5px;
    max-width: 350px;
    max-height: 500px;
    transition: all 0.4s ease;
}

.scroll_box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80px;
    margin-top: 5px;
    margin-left: 4px;
}

.button_scroll {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
}

#up {
    transform: rotate(270deg);
}

#down {
    transform: rotate(90deg);
}

.item_preview_info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 50px;
    margin-left: 10px;
    width: 450px;
}

.item_preview_info_name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 450px;
    margin-left: 20px;
    height: 55px;
}

.item_preview_info_name > h1 {
    font-family: 'FuturaNewBook-Reg', sans-serif;
    font-size: 20px;
    font-weight: normal;
    margin-top: 0;
    display: block;
    flex-shrink: 0;
    width: 60%;
}

.item_preview_info_name > h3 {
    color: grey;
    font-size: 13px;
    font-family: 'FuturaNewBook-Reg', sans-serif;
    text-align: right;
    display: block;
    flex-shrink: 0;
    margin-top: 0;
}

.item_sizes {
    display: flex;
    flex-direction: row;
    width: 200px;
    position: relative;
}

.button_size {
    background: #fff;
    border: 2px solid #c0c0c0;
    height: 30px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease;
    cursor: pointer;
    margin-left: 20px;
}

.button_size_selected {
    background: #fff;
    border: 2px solid #000000;
    height: 30px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease;
    margin-left: 20px;
    cursor: pointer;
}

.button_size_selected:hover {
    background: #fff;
    border: 2px solid #1d1d1d;
    transition: all 0.4s ease;
}

.button_size_unavailable {
    background: #c0c0c0;
    border: 2px solid #c0c0c0;
    height: 30px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease;
    cursor: default;
    text-decoration-color: black;
    opacity: 0.3;
    margin-left: 20px;

}

.button_size:hover {
    border: 2px solid #8f8f8f;
    transition: all 0.4s ease;
}

.cart_wish_box {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 20px;
}

.cart_button {
    background-color: #252525;
    border: 1px solid #252525;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    font-family: 'FuturaNewBook-Reg', sans-serif;
    width: 200px;
    height: 50px;
    cursor: pointer;
    transition: all 0.4s ease;
}

.disabled {
    cursor: default;
    background-color: #252525;
    border: 1px solid #252525;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    font-family: 'FuturaNewBook-Reg', sans-serif;
    width: 200px;
    height: 50px;
    transition: all 0.4s ease;
}

.size_cart_warning {
    margin-left: 20px;
    margin-top: 5px;
    font-size: 13px;
    font-family: 'FuturaNewBook-Reg', sans-serif;
    color: grey;
}

.wish_button {
    display: block;
    min-width: 22px;
    max-width: 22px;
    max-height: 22px;
    background-color: #252525;
    border: 14px solid #252525;
    margin-left: 22px;
    transition: all 0.4s ease;
}

.wish_button:hover {
    background-color: #444;
    border: 14px solid #444;
    transition: all 0.4s ease;
}

.wish_catalog {
    display: block;
    position: absolute;
    z-index: 5;
    right: 10px;
    top: 10px;
    min-width: 8px;
    max-width: 24px;
    max-height: 24px;
    margin-left: 22px;
    transition: all 0.2s ease;
    opacity: 0;
}

.cart_button:hover {
    background-color: #444;
    border: 1px solid #444;
    transition: all 0.4s ease;
}

.item_preview_info_text {
    font-size: 14px;
    font-family: 'FuturaNewBook-Reg', sans-serif;
    margin-top: 35px;
    margin-left: 20px;
    font-weight: 600;
    text-align: left;
}

.other_colors {
    margin-left: 20px;
    margin-top: 5px;
    font-size: 14px;
    font-family: 'FuturaNewBook-Reg', sans-serif;
    font-weight: 600;
    display: flex;
    flex-direction: column;
}

.other_colors_gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.other_color_item {
    width: 85px;
    height: 120px;
    margin-left: 5px;
    cursor: pointer;
}

.full {
    margin-left: 20px;
    font-size: 14px;
    font-family: 'FuturaNewBook-Reg', sans-serif;
    font-weight: 600;
    text-decoration: underline;
    margin-top: 20px;
    transition: 0.2s ease all;
}

.full:hover {
    text-decoration: none;
    transition: 0.2s ease all;
}

.close_fancy {
    color: #cccccc;
    font-size: 50px;
    display: block;
    position: absolute;
    right: 25px;
    top: 0;
    font-weight: 300;
    z-index: 1;
    cursor: pointer;
}

.product {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.product_gallery {

}

.product_preview_info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 50px;
    margin-left: 40px;
    width: 450px;
}

.product_preview_info_name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 460px;
    margin-left: 20px;
    height: 55px;
}

.product_preview_info_name h1 {
    font-family: 'FuturaNewBook-Reg', sans-serif;
    font-size: 20px;
    font-weight: normal;
    margin-top: 0;
    display: block;
    flex-shrink: 0;
    width: 70%;
}

.product_preview_info_name h3 {
    color: grey;
    font-size: 13px;
    font-family: 'FuturaNewBook-Reg', sans-serif;
    text-align: right;
    display: block;
    flex-shrink: 0;
    margin-top: 0
}

.product_sizes {
    display: flex;
    flex-direction: row;
    width: 200px;
    position: relative;
}

.product_preview_info_text {
    font-size: 14px;
    font-family: 'FuturaNewBook-Reg', sans-serif;
    margin-top: 30px;
    margin-left: 20px;
    font-weight: 600;
}

.product_details {
    margin-left: 20px;
    width: 300px;
}

.product_detail {
    margin-top: 5px;
    overflow: auto;
    color: #000;
    line-height: 1.7;
    font-size: 13px;
    width: 488px;
    font-family: 'FuturaNewBook-Reg', sans-serif;
    height: 96px;
}

.product_details_menu {
    display: block;
    position: relative;
    width: 430px;
    margin: 0;
    list-style: none;
    border-bottom: 2px solid #ebebeb;
    white-space: nowrap;
}

.product_details_menu_element, .product_details_menu_element_active {
    padding: 0 0 5px 0;
    color: #000;

    text-transform: uppercase;
    font-size: 14px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    transition: 0.3s all ease;
    margin-left: 25px;
    font-weight: 600;
}

.product_details_menu_element:first-child, .product_details_menu_element_active:first-child {
    margin-left: 0;
}

.product_details_menu_element:hover, .product_details_menu_element_active:hover {
    opacity: 0.8;
    transition: 0.4s all;
}

.product_details_menu_element > i {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: -2px;
    transition: 0.3s all ease;
    background-color: transparent;
}

.product_details_menu_element_active > i {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: -2px;
    transition: 0.3s all ease;
    background-color: black;
}

.full_delivery {
    font-size: 13px;
    font-family: 'FuturaNewBook-Reg', sans-serif;
    text-decoration: underline;
    margin-top: 0;
    transition: 0.2s ease all;
}

.full_delivery:hover {
    text-decoration: none;
    transition: 0.2s ease all;
}

.recommended_box {
    margin-top: 20px;
    position: relative;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 20px;
    overflow-x: auto;
}

.recommended_box > p {
    font-size: 16px;
    font-family: 'FuturaNewBook-Reg', sans-serif;
    margin-left: 10px;
}

.recommended {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.recommended > .item > .item_price, .recommended > .item > .item_name {
    font-size: 12px;
    font-weight: 600;
}

.about_box, .contacts_box, .wish_box {
    font-family: 'FuturaNewBook-Reg', sans-serif;
    display: flex;
    justify-content: center;
}

.delivery_box {
    width: 800px;
    margin-top: 30px;
    font-family: 'FuturaNewBook-Reg', sans-serif;
}

.delivery_image {
    width: 500px;
    margin-top: 20px;
}

.delivery_box h1, .contacts_box h1 {
    font-size: 1.75em;
}

.wish_box h1 {
    font-size: 24px;
}

.delivery_box h2 {
    font-size: 1.35em;
}

.delivery_text {
    font-size: 15px;
    max-width: 600px;
}

.phones li {
    text-decoration: underline;
    margin-top: 5px;
    cursor: pointer;
    transition: 0.2s ease all;
}

.phones li:hover {
    text-decoration: none;
    transition: 0.2s ease all;
}

.about_box p {
    width: 450px;
    font-size: 16px;
}

.about_image {
    max-width: 500px;
    max-height: 500px;
    border-radius: 5px;
    margin-left: 30px;
    margin-top: 30px;
}

.contacts_image {
    max-width: 700px;
    max-height: 200px;
    border-radius: 5px;
    margin-left: 80px;
    margin-top: 30px;
}

.wish_div {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 5%;
}

.wished {
    opacity: 1;
}

.empty_list {
    font-size: 15px;
    margin-left: 150px;
    margin-top: 0;
    font-weight: 500;
    font-family: 'FuturaNewBook-Reg', sans-serif;
}

.cart_drawer {
    width: 98%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
}

.cart_drawer::-webkit-scrollbar .recommended::-webkit-scrollbar {
    width: 3px;
}

.cart_drawer::-webkit-scrollbar-track .recommended::-webkit-scrollbar-track {
    background: #ffffff;
}

.cart_drawer::-webkit-scrollbar-thumb .recommended::-webkit-scrollbar-track {
    background: #999999;
}

.cart_drawer::-webkit-scrollbar-thumb:hover .recommended::-webkit-scrollbar-track {
    background: #999999;
}

.cart_drawer_warning {
    margin-left: 50px;
    position: relative;
    color: #fff;
    border-radius: 4px;
    font-size: .9rem;
    padding: .3rem .6rem;
    max-width: 350px;
    text-align: center;
    will-change: transform;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #333;
    opacity: 1;
    transition: 0.4s opacity;
}


.cart_drawer_warning::before {
    content: "i";
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: .6rem;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    font-size: 11px;
    border: 1px solid white;
}

.cart_drawer_warning.disabled {
    opacity: 0;
    transition: 0.4s opacity;
}

.small_cart_item {
    direction: ltr;
    display: flex;
    width: 100%;
    margin-left: 50px;
    min-height: 120px;
    border-bottom: 1px solid #e6e6e6;
    padding: 20px 0;
    flex-direction: row;
    text-transform: uppercase;
    font-size: 11px;
}

.small_cart_item_photo {
    margin-left: 5px;
    max-width: 80px;
    max-height: 100px;
}

.small_cart_item_table {
    margin-left: 10px;
}

.small_cart_item_table_name {
    width: 110px;
}

.small_cart_item_table_quantity > input {
    width: 48px;
    height: 20px;
    border: 1px solid #e1e1e1;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    color: black;
    font-size: 11px;
    text-transform: uppercase;
    display: block;
    text-align: center;
    margin: auto;
    line-height: 20px;
    position: relative;
    top: 7px;
}

.small_cart_item_table_price {
    margin-left: 20px;
    padding: 20px 45px;
}

.small_cart_item_table_remove {
    font-size: 14px;
    cursor: pointer;
    transition: 0.4s all;
}

.small_cart_item_table_remove:hover {
    opacity: 0.7;
    transition: 0.4s all;
}

.small_cart_empty {
    width: 100%;
    text-align: center;
    font-size: 13px;
}

.small_cart_empty p {
    text-decoration: underline;
    text-transform: uppercase;
    transition: 0.2s ease all;
    cursor: pointer;
}

.small_cart_empty p:hover {
    text-decoration: none;
    transition: 0.2s ease all;
}

.small_cart_total {
    margin-left: 50px;
    min-height: 120px;
    width: 100%;
}

.coupon_box {
    margin-top: 15px;
    text-transform: uppercase;
    font-size: 11px;
    display: flex;
    flex-direction: column;
}

.coupon_box span {
    display: inline-block;
    vertical-align: top;
    opacity: 1;
    color: #000;
    font-size: 13px;
    text-decoration: none !important;
    text-transform: uppercase;
    margin-bottom: 14px;
    font-weight: 600;
}

.coupon_box .promo_warning {
    font-size: 10px;
    color: #999;
}

.coupon_form {
}

.coupon_form input {
    width: 122px;
    height: 25px;
    border: 1px solid #e1e1e1;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 0 13px;
    color: #000;
    font-size: 13px;
    line-height: 25px;
    text-transform: uppercase;
    display: inline-block;
    font-family: 'FuturaNewBook-Reg', sans-serif;
}

.coupon_form button {
    font-family: 'FuturaNewBook-Reg', sans-serif;
    display: inline-block;
    margin-left: 10px;
    width: 90px;
    height: 27px;
    background-color: #252525;
    color: #fff !important;
    text-decoration: none !important;
    font-size: 12px;
    line-height: 27px;
    text-align: center;
    border: 0;
    cursor: pointer;
    transition: 0.2s ease all;
}

.coupon_form button:hover {
    transition: 0.2s ease all;
    opacity: 0.9;
}

.small_cart_total_price {
    font-size: 13px;
    margin-top: 10px;
    margin-left: 10px;
    width: 80%;
    text-align: right;
}

.small_cart_total_confirm {
    margin-top: 5px;
    width: 100%;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -50px;
}

.cart_total_confirm_button {
    text-align: center;
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    width: 150px;
    height: 32px;
    line-height: 32px;
    background-color: #252525;
    border: 1px solid #252525;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    display: block;
    font-family: 'FuturaNewBook-Reg', sans-serif;
    cursor: pointer;
    transition: 0.2s ease all;
}

.cart_total_confirm_button:hover {
    opacity: 0.9;
    transition: 0.2s ease all;
}

.small_cart_total_confirm p {
    text-decoration: underline;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    margin-top: 40px;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: 0.2s ease all;
}

.small_cart_total_confirm p:hover {
    text-decoration: none;
    transition: 0.2s ease all;
}

.cart_box, .order_box {
    margin-top: 70px;
    width: 100%;
    height: calc(100% - 70px);
    font-family: 'FuturaNewBook-Reg', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cart_box h1 {
    font-size: 24px;
}

.cart_empty {
    text-align: center;
    justify-content: center;
}

.cart_empty h3, .order_empty h3 {
    font-weight: 400;
}

.cart_empty p, .order_empty p {
    text-decoration: underline;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    transition: 0.2s ease all;
}

.cart_empty p:hover, .order_empty p:hover {
    text-decoration: none;
    cursor: pointer;
    transition: 0.2s ease all;
}


.cart {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart_item_list {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.cart_item {
    direction: ltr;
    display: flex;
    width: 90%;
    height: 170px;
    min-height: 120px;
    border-bottom: 1px solid #e6e6e6;
    padding: 20px 0;
    flex-direction: row;
    text-transform: uppercase;
    font-size: 11px;
}

.cart_item_photo {
    width: 90px;
    height: 130px;
}

.cart_item_table {
    width: 90%;
    margin-left: 20px;
}


.cart_item_table table {
    border: 1px solid #e1e1e1;
    border-collapse: collapse;
    height: 130px;
    width: 100%;
}

.cart_item_table table td {
    border: 1px solid #e1e1e1;
    padding: 10px 14px;
}

.cart_item_table_name {
    width: 110px;
    text-align: left;
}

.cart_item_table_code {
    font-size: 9px;
    color: #999;
    padding-bottom: 0;
}

.cart_item_table_quantity > input {
    width: 48px;
    height: 20px;
    border: 1px solid #e1e1e1;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    color: black;
    font-size: 11px;
    text-transform: uppercase;
    display: block;
    text-align: center;
    margin: auto;
    line-height: 20px;
    position: relative;
    top: 7px;
}

.cart_item_table_price {
    margin-left: 20px;
    padding: 20px 45px;
    text-align: left;
}

.cart_item_table_remove {
    font-size: 14px;
    cursor: pointer;
    transition: 0.4s all;
    text-align: center;
}

.cart_item_table_remove:hover {
    opacity: 0.7;
    transition: 0.4s all;
}

.cart_total {
    margin-top: 10px;
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cart_total p {
    text-decoration: underline;
    font-size: 11px;
    font-weight: 600;
    margin: 0;
    transition: 0.2s ease all;
}

.cart_total p:hover {
    text-decoration: none;
    cursor: pointer;
    transition: 0.2s ease all;
}

.cart_warning {
    width: 330px;
    position: relative;
    color: #fff;
    border-radius: 4px;
    font-size: .9rem;
    padding: .3rem .6rem;
    max-width: 350px;
    text-align: center;
    will-change: transform;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #333;
    opacity: 1;
    transition: 0.4s opacity;
}

.cart_warning::before {
    content: "i";
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: .6rem;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    font-size: 11px;
    border: 1px solid white;
}

.account_drawer {
    width: 98%;
    height: 90vh;
    display: flex;
    flex-direction: column;
}

.login_drawer {
    width: calc(100%);
    height: 600px;
    display: flex;
    flex-direction: column;
    font-family: 'FuturaNewBook-Reg', sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
}

.login_drawer::-webkit-scrollbar {
    width: 3px;
}

.login_drawer::-webkit-scrollbar-track {
    background: #ffffff;
}

.login_drawer::-webkit-scrollbar-thumb {
    background: #999999;
}

.login_drawer::-webkit-scrollbar-thumb:hover {
    background: #999999;
}

.login_drawer_title {
    width: 85%;
    margin-left: 50px;
}

.login_drawer_title h1 {
    font-size: 21px;
    text-transform: uppercase;
    font-weight: 400;
}

.login_drawer_title h3 {
    font-size: 13px;
    font-weight: 400;
    opacity: 0.5;
}

.login_form {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 222px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.login_form form {
    width: 222px;
}

.login_form input {
    outline: 0;
    outline-offset: 0;
    font-family: 'FuturaNewBook-Reg', sans-serif;
    display: block;
    margin-bottom: 15px;
    padding: 0 14px;
    height: 35px;
    border: 1px solid #e1e1e1;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: black;
    font-size: 14px;
    line-height: 25px;
    box-sizing: border-box;
    width: 100%;
}

.lost_password_link {
    margin-top: -5px;
    margin-left: auto;
    font-size: 12px;
    opacity: 0.5;
    text-decoration: underline;
    cursor: pointer;
    transition: 0.2s ease all;
}

.lost_password_link:hover {
    text-decoration: none;
    transition: 0.2s ease all;
}

.login_button {
    opacity: 1;
    cursor: pointer;
    color: white;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    width: 150px;
    height: 32px;
    background-color: #252525;
    border: 1px solid #252525;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    display: block;
    margin: auto;
    transition: 0.2s ease all;
    font-family: 'FuturaNewBook-Reg', sans-serif;
}

.login_button:hover {
    opacity: 0.9;
    transition: 0.2s ease all;
}

.switch_box {
    width: 100%;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.switch_box .title {
    opacity: 0.5;
    color: black;
    font-size: 13px;
    text-transform: uppercase;
    padding-bottom: 15px;
}

.switch_button {
    margin-top: -15px;
    color: black;
    font-size: 13px;
    display: inline-block;
    text-decoration: underline;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.2ms ease all;
}

.switch_button:hover {
    text-decoration: none;
    transition: 0.2ms ease all;
}

.policy_text {
    text-align: center;
    font-size: 10px;
    text-transform: uppercase;
    color: #333;
}

.policy_text span {
    text-decoration: none;
    color: #000;
}

.policy_text span:hover {
    text-decoration: underline;
}

.not_logged {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.account_left {
    width: 64%;
}

.account_left_sale {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 98%;
}

.account_left_sale_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.account_left_sale_info h1 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 22px;
    margin-top: 10px;
}

.account_left_sale_info span {
    margin-top: 10px;
    text-align: right;
    color: #999;
    font-size: 15px;
}
.account_left_sale_info span p {
    padding: 0;
    margin-top: 0;
}

.account_left_sale_line, .account_left_sale_line_active {
    height: 3px;
    background: rgba(112,112,112,.2);
    position: absolute;
    top: 17px;
    left: 0;
    right: 0;
}

.account_left_sale_line span {
    width: 0;
}

.account_left_sale_levels {
    margin-top: 30px;
   position: relative;
    width: 100%;
}

.account_left_sale_levels ul {
    width: 99%;
    margin-top: 0;
    padding: 0;
    vertical-align: baseline;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.account_left_sale_levels ul li {
    vertical-align: top;
    margin-left: 0%;
}

.account_left_sale_levels ul li span {
    padding-bottom: 15px;
    color: #999;
    font-size: 14px;
    line-height: 10px;
    text-transform: uppercase;
    font-weight: 600;
    display: block;
}

.account_left_sale_levels ul li i {
    font-style: normal;
    font-weight: 600;
    color: #999;
    font-size: 14px;
    line-height: 10px;
    text-transform: uppercase;
}

.orders_list {
    margin-top: 20px;
    height: 80vh;
    overflow-x: hidden;;
    overflow-y: auto;
    display: flex;

    flex-direction: column;
}

.orders_list h1 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
}

.order {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 300px;
    padding: 10px 5px;
    border-top: 1px solid rgba(112,112,112,.1) !important;
}

.order_info {
    display: flex;
    flex-direction: column;
}

.order_info_title {

}

.order_info_title_id {
    font-weight: 600;
    font-size: 15px;
}

.order_info_title_date {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 400;
    color: #999;
}

.order_info_details {
    margin-top: 20px;
    display: flex;
    flex-direction: column;

}

.order_info_details_field {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    font-size: 13px;
    color: #999;
}

.order_info_details_value {
    margin-top: 2px;
    color: black;
}


.order_items {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-x: auto;
}

.order_item {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.order_item_picture {
    width: 145px;
    height: 200px;
}

.order_item_name {
    margin-top: 2px;
    width: 145px;
    font-size: 13px;
    cursor: pointer;
    text-decoration: underline;
    text-transform: uppercase;
}

.order_item_quantity {
    font-size: 13px;
    margin-top: 2px;
}

.order_item_price {
    font-size: 13px;
    margin-top: 2px;
}

.order_item_name:hover {
    text-decoration: none;
}

.order_empty {
    margin: auto;
    text-align: center;
    justify-content: center;
}

.not_registered {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.account_right {
    margin-top: 20px;
    position: relative;
    min-width: 400px;
    width: 36%;
    max-width: 400px;
    padding-left: 50px;
    height: 80vh;
    overflow-x: hidden;;
    overflow-y: auto;
}

.account_right::before{
    content: "";
    display: block;
    position: absolute;
    height: 100vh;
    width: 4px;
    left: -2px;
    top: 0;
    background: #f8f8f8;
}

.account_right::-webkit-scrollbar, .orders_list::-webkit-scrollbar, .order_items::-webkit-scrollbar {
    margin-top: 1px;
    cursor: pointer;
    width: 3px;
    height: 3px;
}

.account_right::-webkit-scrollbar-track, .orders_list::-webkit-scrollbar-track, .order_items::-webkit-scrollbar-track {
    background: #ffffff;
}

.account_right::-webkit-scrollbar-thumb, .orders_list::-webkit-scrollbar-thumb, .order_items::-webkit-scrollbar-thumb {
    background: #999999;
}

.account_right::-webkit-scrollbar-thumb:hover, .orders_list::-webkit-scrollbar-thumb:hover, .order_items::-webkit-scrollbar-thumb:hover {
    background: #999999;
}

.account_right_title {
    display: flex;
    flex-direction: row;
    width: 350px;
    justify-content: space-between;
}

.account_right_title h1 {
    font-size: 19px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
}

.account_right_title h3 {
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, .5);
    text-decoration: underline;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
}

.account_right_title h3:hover {
    text-decoration: none;
}

.account_right_personal {
    width: 400px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.account_right_personal p {
    color: rgba(0, 0, 0, .5);
    font-size: 13px;
    width: 80%;
}

.account_right_personal_field {
    display: flex;
    flex-direction: row;
    min-width: 350px;
    justify-content: space-between;
}

.personal_field {
    margin-top: 5px;
    display: inline-block;
    color: black;
    font-size: 14px;
    text-transform: uppercase;
}

.value {
    text-decoration: underline;
    cursor: pointer;
}

.value:hover {
    text-decoration: none;
}

.personal_edit_form {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-top: 25px;
}

.personal_edit_form {
    display: none;
}

.personal_button {
    outline: none;
    font-family: 'FuturaNewBook-Reg', sans-serif;
    width: 150px;
    min-height: 48px;
    background-color: #252525;
    border: 1px solid #252525;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    color: white;
    position: relative;
    top: 3px;
    letter-spacing: 2px;
    font-size: 14px;
    line-height: 18px;
    clear: both;
    display: block;
    text-transform: uppercase;
    transition: 0.4s ease all;
    cursor: pointer;
}

.personal_button:hover {
    opacity: 0.9;
    transition: 0.4s ease all;
}


.personal_edit_text {
}

.personal_edit_text > label {
    display: block;
    cursor: default;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
    color: black;
    font-size: 11px;
    line-height: 10px;
    padding-bottom: 9px;
    text-transform: uppercase;

}

.personal_edit_text > input {
    margin-top: 15px;
    outline: none;
    max-width: 172px;
    height: 33px;
    border: 1px solid #e1e1e1;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    line-height: 28px;
    padding: 0 13px;
    color: black;
    font-size: 11px;
    text-transform: uppercase;
    font-family: 'FuturaNewBook-Reg', sans-serif;
}

.personal_edit_text > span {
    width: 300px;
}

.account_right_address {
    width: 400px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.account_right_address_edit {
    margin-top: 10px;
    width: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.address_field {
    display: flex;
    flex-direction: column;
    color: #999;
    text-transform: uppercase;
    font-size: 11px;
}

.address_field input {
    outline: none;
    margin-top: 5px;
    margin-right: 15px;
    height: 33px;
    border: 1px solid #e1e1e1;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    line-height: 28px;
    padding: 0 13px;
    color: black;
    font-size: 11px;
    text-transform: uppercase;
}

.address_field > input::placeholder {
    color: black;
}

.address_warning {
    width: 350px;
    color: #999;
    font-size: 13px;
}

.order_box {
    align-items: flex-start;
}

.order_left_column {
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    width: 450px;
}

.order_title {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 450px;
    height: 40px;
}

.order_title h1 {
    margin: 0;
    color: black;
    font-size: 21px;
    text-transform: uppercase;
    width: 300px;
    position: relative;
}

.order_title span {
    color: #cccccc;
    font-size: 17px;
    width: 6px;
    text-align: center;
    display: block;
    background: white;
    height: 54px;
    padding: 5px 0;
    font-weight: 600;
}

.order_form {
    margin-top: 0;
    min-width: 440px;
    min-height: 300px;
    border-right: 1px solid #cccccc;
}

.address_fields {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.order_field {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    color: #999;
    font-size: 11px;
    text-transform: uppercase;
}


.order_field > input, .order_field_address {
    margin-top: 10px;
    outline: none;
    max-width: 172px;
    height: 33px;
    border: 1px solid #e1e1e1;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    line-height: 28px;
    padding: 0 13px;
    color: black;
    font-size: 11px;
    text-transform: uppercase;
    font-family: 'FuturaNewBook-Reg', sans-serif;
}


.address_suggestions {
    color: #999;
    border: none;
    background: transparent;
    display: flex;
    flex-direction: column;
    font-family: 'FuturaNewBook-Reg', sans-serif;

}

.address_suggestions * {
    margin-top: 2px;
}

.address_suggestions_highlight {
    color: black;
}

.order_field_address {
    width: 200px;
    color: black;
}

.order_field > input::placeholder, .order_field_address::placeholder {
    color: black;
    font-size: 11px;
}

.order_delivery_time {
    overflow-y: auto;

}

.checkbox_box, .delivery_vary {
    display: flex;
    flex-direction: row;
}

.checkbox_box > label, .delivery_vary > label {
    margin-top: 1px;
    margin-left: 5px;
}

.checkbox {
    cursor: pointer;
    outline: none;
    -webkit-appearance: none;
    background-color: white;
    border: 1px solid #999;
    border-radius: 50%;
    padding: 9px;
    display: inline-block;
    position: relative;
    margin-top: 0;
}

.checkbox:checked {
    border: 1px solid black;
    color: #99a1a7;
}

.checkbox:checked:after {
    content: '\2714';
    font-size: 14px;
    position: absolute;
    top: 0;
    left: 3px;
    color: black;
}

.order_warning {
    color: #999;
    font-size: 13px;
}

.order_form > .small_cart_item {
    width: 90%;
    margin-left: 0;
}

.order_form > .small_cart_item > * > .small_cart_item_table_price {
    font-size: 12px;
}

.order_summary_info {
    display: flex;
    flex-direction: column;
    font-size: 15px;
}

.order_summary_info > span {
}

.order_summary_price {
    margin-top: 20px;
    font-size: 20px;
}

.order_contacts {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 120px;
    font-weight: 600;
    background: #dadada;
    font-family: 'FuturaNewBook-Reg', sans-serif;
}

.order_contacts p, .order_contacts span {
    margin-top: 5px;
    margin-left: 5px;
}

.order_contacts span {
    font-weight: 400;
    font-size: 13px;
}

.link_to_cart {
    text-decoration: underline;
    color: #999;
}

.link_to_cart:hover {
    text-decoration: none;
}

.order_form > .cart_total_confirm_button {
    margin-top: 15px;
}

.order_agreement {
    width: 300px;
    text-transform: uppercase;
    font-size: 13px;
}

.order_agreement > a {
    text-decoration: underline;
}

.admin_page {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.admin_navigation {
    width: 100%;
    margin-left: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.admin_nav_button {
    background: #444;
    color: white;
    border-radius: 2px;
    cursor: pointer;
    width: 90px;
    font-size: 14px;
    text-align: center;
    height: 25px;
    line-height: 25px;
}

.admin_nav_button:hover {
    background: #666;
}

.admin_items_box {
    display: none;
    flex-direction: column;
    margin-left: 25px;
}

.admin_items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.admin_item_table_box {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    max-height: 600px;
    overflow-y: auto;
}

.admin_item_table_box table, .admin_new_item table {
    width: 1000px;
    justify-content: space-around;
    margin-top: 50px;
}

.admin_table_image {
    width: 150px;
    height: 200px;
}

.admin_new_item {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.admin_categories_box, .admin_colors_box, .admin_delivery_box {
    width: 80%;
    display: none;
    flex-direction: column;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.admin_orders_box {
    width: 80%;
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.admin_categories_box table, .admin_colors_box table, .admin_delivery_box table, .admin_orders_box table {
    width: 100%;
    justify-content: space-around;
    border-collapse: collapse;
}

.admin_categories_box table tr td, .admin_colors_box table tr td {
    border: 1px solid black;
    text-align: center;
}

.admin_order {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 350px;
    padding: 10px 5px;
    border-top: 1px solid rgba(112,112,112,.1) !important;
}

.admin_order_small {
    margin-top: 20px;
    border: 1px solid grey;
}

.admin_order_small button {
    cursor: pointer;
    margin-top: 5px;
}
