@font-face {
    font-family: 'fonte2e59564eadbc8a9636de9d0b7acfa12';

    src:    url('https://nomail.com.ua/files/eot/e2e59564eadbc8a9636de9d0b7acfa12.eot?#iefix') format('embedded-opentype'),
    url('https://nomail.com.ua/files/woff/e2e59564eadbc8a9636de9d0b7acfa12.woff') format('woff'),
    url('https://nomail.com.ua/files/woff2/e2e59564eadbc8a9636de9d0b7acfa12.woff2') format('woff2');
}

@font-face { font-family: 'FuturaNewBook-Reg';  src: local('FuturaNewBook-Reg'), url('https://nomail.com.ua/files/woff/e2e59564eadbc8a9636de9d0b7acfa12.woff') format('woff'); }

#root {
    width: 100vw;
    padding-bottom: 50px;
    height: 100%;
}

body {
    background-color: #ffffff;
    width: 100vw;
    overflow-x: hidden;
    position: relative;
    height: 100vh;
}


a, a:visited{
    color: black;
    font-family: 'FuturaNewBook-Reg', sans-serif;
    text-decoration: none;
    outline: none;
}

.footer {
    margin-top: 50px;
    width: 100vw;
    height: 100px;
    background: #dee9ec;
    font-family: 'FuturaNewBook-Reg', sans-serif;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    bottom: 0;
}


.social {
    margin-left: 100px;
    display: flex;
    flex-direction: row;
    width: 300px;
    justify-content: space-between;
}

.social_text {
    transition: all 0.4s;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    line-height: 100px;
    display: flex;
    flex-direction: row;
    opacity: 1;
}

.social_text > img {
    width: 18px;
    height: 18px;
    margin-right: 10px;
    margin-left: 20px;
}

.social_text:hover {
    opacity: 0.7 !important;;
}


.header {
    margin-top: 0;
    width: 100vw;
    height: 70px;
    background-color: white;
    font-family: 'FuturaNewBook-Reg', sans-serif;
    display: flex;
    text-transform: uppercase;
    font-weight: 600;
    flex-direction: row;
    position: fixed;
    z-index: 10;
}

.logo {
    width: 130px;
    margin-left: -100px;
}

.menu {
    width: 60vw;
    margin-left: 60px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}

.menu > li {
    margin: 12px;
    font-size: 12px;
    font-family: 'FuturaNewBook-Reg', sans-serif;
    height: 20px;
}

.menu > li :hover, .user_features > li :hover {
    opacity: 0.5;
    transition: 0.1s opacity;
}

.menu_active {
    border-bottom: 2px solid #e1e1e1;
}

.user_features {
    margin-left: 50px;
    flex-shrink: 0;
    width: 15vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}

.user_features > li > a {
    font-size: 12px;
    position: relative;
}
.user_features > li > a > span {
    position: absolute;
    padding: 15px 0;
    font-weight: bold;
}

.main_icon {
    margin: 12px;
    max-width: 20px;
    height: 20px;
    float: left;
}

.home {
    width: 100vw;
    margin-top: 70px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home :hover {
    opacity: 1;
    transition: all 0.4s
}
.main_picture {
    position: relative;
    height: 600px;
}

.main_picture > * > img {
    width: 100%;
    max-height: 600px;
}

.additional_pictures {
    position: relative;
    height: 600px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.additional_pictures > * > img {
    opacity: 0.9;
    height: 600px;
    transition: all 0.4s;
    flex-shrink: 0;
}

.with_footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.global_giv {
    margin-top: 70px;
    position: relative;
    width: 100vw;
    height: calc(100% - 70px);
    display: flex;
    flex-direction: row;
}


.catalog_menu {
    width: 17%;
    height: calc(100% - 120px);
    margin-top: 50px;
    margin-left: 30px;
    font-family: 'FuturaNewBook-Reg', sans-serif;
    font-size: 14px;
}

.catalog_categories > *{
    list-style-type: none;
    margin-left: 0;
    transition: all 0.2s;
    width: 50px;
}

.catalog_categories :hover {
    opacity: 0.5;
    transition: all 0.2s ;
}

.catalog_category {
    margin-top: 15px;
    font-size: 13px;
    width: 50px;
}


.catalog_box {
    margin-top: 20px;
    width: 80%;
    margin-left: 10px;
    font-family: 'FuturaNewBook-Reg', sans-serif;
}

.filter_box {
    font-size: 13px;
    display: flex;
    flex-direction: row;
}

.filter {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.filter_element {
    margin-left: 20px;
    height: 15px;
    transition: all 0.2s;
    text-decoration: underline;
    cursor: pointer;
    display: flex;
    flex-direction: row;
}

.filter :hover {
    text-decoration: none;
}

.color_list{
    z-index: 10;
    position: absolute;
    margin-top: 20px;
    margin-left: 10px;
    background-color: white;
    width: 200px;
    height: auto;
    padding: 10px 0;
}

.color_list > *{
    margin-top: 10px;
    text-decoration: none;
    width: 70px;
}

.catalog_items {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.item {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.item_pics {
    height: 430px;
    width: 320px;
    position: relative;
}

.item_pics > img {
    height: 430px;
    width: 320px;
    position:absolute;
}
.item_pics img {
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.item_pics img.item_pics_add {opacity:0;filter:alpha(opacity=0);}
.item_pics div.into_preview {opacity:0;filter:alpha(opacity=0);}
.item_pics:hover img.item_pics_add {opacity:1;filter:alpha(opacity=100);}
.item_pics:hover div.into_preview {opacity:1;filter:alpha(opacity=100);     transition: all 0.4s;}
.item_pics:hover img.item_pics_main, .item_pics img.item_pics_main:hover {opacity:0;filter:alpha(opacity=0);}
.item_pics:hover img.wish_catalog {opacity:1;filter:alpha(opacity=100);     transition: all 0.2s;}

.item_price {
    font-size: 14px;
    margin-top: 4px;
    font-weight: bolder;
    font-family: 'FuturaNewBook-Reg', sans-serif;
}

.item_price > s {
    color: grey;
    margin-left: 14px;
}

.item_name {
    margin-top: 5px;
    font-size: 15px;
}

.into_preview {
    margin-top: 380px;
    background: #252525;
    position: absolute;
    width: 320px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    color: white;
    font-size: 13px;
    height: 50px;
    cursor: pointer;
    transition: all 0.7s;
}

.overlay {
    display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    z-index: 10;
}


.item_preview {
    position: absolute;
    background: white;
    width: 1015px;
    height: 605px;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}


.item_preview > * {
    z-index: 100;
}

.item_gallery {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-left: 25px;
}

.item_gallery_box {
    display: flex;
    flex-direction: column;
    width: 105px;
    height: 530px;
}

.item_gallery_feed {
    display: flex;
    flex-direction: column;
    width: 105px;
    overflow: hidden;
    scroll-behavior: smooth;
    position: relative;
    margin-top: 15px;
    height: 505px;
}

.item_picture {
    width: 80px;
    height: 112px;
    margin-top: 5px;
    margin-left: 3px;
}

.item_head_picture {
    margin-top: 20px;
    margin-left: 5px;
    width: 360px;
    height: 505px;
    transition: all 0.4s ease;
}

.scroll_box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80px;
    margin-top: 5px;
    margin-left: 4px;
}

.button_scroll {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
}
#up {
    transform: rotate(270deg);
}
#down {
    transform: rotate(90deg);
}

.item_preview_info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 50px;
    margin-left: 10px;
    width: 450px;
}

.item_preview_info_name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 410px;
    margin-left: 20px;
    height: 55px;
}

.item_preview_info_name > h1 {
    font-family: 'FuturaNewBook-Reg', sans-serif;
    font-size: 20px;
    font-weight: normal;
    margin-top: 0;
    display: block;
    flex-shrink: 0;
    width: 60%;
}
.item_preview_info_name > h3 {
    color: grey;
    font-size: 13px;
    font-family: 'FuturaNewBook-Reg', sans-serif;
    text-align: right;
    display: block;
    flex-shrink: 0;
    margin-top: 0
}

.item_sizes {
    display: flex;
    flex-direction: row;
    width: 200px;
    position: relative;
}

.button_size {
    background: #fff;
    border: 2px solid #c0c0c0;
    height: 30px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease;
    cursor: pointer;
    margin-left: 20px;
}

.button_size_selected {
    background: #fff;
    border: 2px solid #000000;
    height: 30px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease;
    margin-left: 20px;
    cursor: pointer;
}

.button_size_selected:hover {
    background: #fff;
    border: 2px solid #1d1d1d;
    transition: all 0.4s ease;
}

.button_size_unavailable {
    background: #c0c0c0;
    border: 2px solid #c0c0c0;
    height: 30px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease;
    cursor: default;
    text-decoration-color: black;
    opacity: 0.3;
    margin-left: 20px;

}

.button_size:hover {
    border: 2px solid #8f8f8f;
    transition: all 0.4s ease;
}

.cart_wish_box {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 20px;
}

.cart_button {
    background-color: #252525;
    border: 1px solid #252525;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    font-family: 'FuturaNewBook-Reg', sans-serif;
    width: 200px;
    height: 50px;
    cursor: pointer;
    transition: all 0.4s ease;
}

.disabled {
    opacity: 0.2;
    cursor: default;
    background-color: #b1b1b1;
    border: 1px solid #a6a6a6;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    font-family: 'FuturaNewBook-Reg', sans-serif;
    width: 200px;
    height: 50px;
    transition: all 0.4s ease;
}

.size_cart_warning {
    margin-left: 20px;
    margin-top: 5px;
    font-size: 13px;
    font-family: 'FuturaNewBook-Reg', sans-serif;
}
.wish_button {
    display: block;
    min-width: 22px;
    max-width: 22px;
    background-color: #252525;
    border: 14px solid #252525;
    margin-left: 22px;
    transition: all 0.4s ease;
}

.wish_button:hover {
    background-color: #444;
    border: 14px solid #444;
    transition: all 0.4s ease;
}

.wish_catalog {
    display: block;
    position: absolute;
    z-index: 5;
    right: 10px;
    top: 10px;
    min-width: 24px;
    max-width: 24px;
    max-height: 24px;
    margin-left: 22px;
    transition: all 0.2s ease;
    opacity: 0;
}

.cart_button:hover {
    background-color: #444;
    transition: all 0.4s ease;
}

.item_preview_info_text{
    font-size: 14px;
    font-family: 'FuturaNewBook-Reg', sans-serif;
    margin-top: 30px;
    margin-left: 20px;
    font-weight: 600;
}

.other_colors {
    margin-left: 20px;
    margin-top: 5px;
    font-size: 14px;
    font-family: 'FuturaNewBook-Reg', sans-serif;
    font-weight: 600;
    display: flex;
    flex-direction: column;
}

.other_color_item {
    width: 80px;
    height: 100px;
    margin-left: 5px;
    cursor: pointer;
}

.full {
    margin-left: 20px;
    font-size: 14px;
    font-family: 'FuturaNewBook-Reg', sans-serif;
    font-weight: 600;
    text-decoration: underline;
    margin-top: 20px;
}

.full:hover {
    text-decoration: none;
}

.close_fancy {
    color: #cccccc;
    font-size: 50px;
    display: block;
    position: absolute;
    right: 25px;
    top: 0;
    font-weight: 300;
    z-index: 1;
    cursor: pointer;
}

.product {
    width: 100%;
    height: 100%;
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.product_gallery {

}

.product_preview_info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 50px;
    margin-left: 10px;
    width: 450px;
}

.product_preview_info_name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 460px;
    margin-left: 20px;
    height: 55px;
}

.product_preview_info_name > h1 {
    font-family: 'FuturaNewBook-Reg', sans-serif;
    font-size: 20px;
    font-weight: normal;
    margin-top: 0;
    display: block;
    flex-shrink: 0;
    width: 60%;
}
.product_preview_info_name > h3 {
    color: grey;
    font-size: 13px;
    font-family: 'FuturaNewBook-Reg', sans-serif;
    text-align: right;
    display: block;
    flex-shrink: 0;
    margin-top: 0
}

.product_sizes {
    display: flex;
    flex-direction: row;
    width: 200px;
    position: relative;
}

.product_preview_info_text{
    font-size: 14px;
    font-family: 'FuturaNewBook-Reg', sans-serif;
    margin-top: 30px;
    margin-left: 20px;
    font-weight: 600;
}

.product_details {
    margin-left: 20px;
    width: 300px;
}

.product_detail {
    margin-top: 5px;
    overflow: auto;
    color: #000;
    line-height: 1.7;
    font-size: 13px;
    /* margin-bottom: 30px; */
    width: 488px;
    font-family: 'FuturaNewBook-Reg', sans-serif;
    height: 96px;
}

.product_details_menu {
    display: block;
    position: relative;
    width: 430px;
    margin: 0;
    list-style: none;
    border-bottom: 2px solid #ebebeb;
    white-space: nowrap;
}

.product_details_menu_element, .product_details_menu_element_active {
    padding: 0 0 5px 0;
    color: #000;

    text-transform: uppercase;
    font-size: 14px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    transition: 0.3s all ease;
    margin-left: 25px;
    font-weight: 600;
}

.product_details_menu_element:first-child, .product_details_menu_element_active:first-child {
    margin-left: 0;
}

.product_details_menu_element:hover, .product_details_menu_element_active:hover {
    opacity: 0.8;
    transition: 0.4s all;
}

.product_details_menu_element > i {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: -2px;
    transition: 0.3s all ease;
    background-color: transparent;
}

.product_details_menu_element_active > i {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: -2px;
    transition: 0.3s all ease;
    background-color: black;
}

.full_delivery {
    font-size: 13px;
    font-family: 'FuturaNewBook-Reg', sans-serif;
    text-decoration: underline;
    margin-top: 0;
}

.full_delivery:hover {
    text-decoration: none;
}

.recommended_box {
    margin-top: 20px;
    position: relative;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 20px;
}

.recommended_box > p {
    font-size: 16px;
    font-family: 'FuturaNewBook-Reg', sans-serif;
    margin-left: 10px;
}

.recommended {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.recommended > .item > .item_price, .recommended > .item > .item_name {
    font-size: 12px;
    font-weight: 600;
}

.delivery_box, .about_box, .contacts_box {
    margin-left: 220px;
    margin-top: 30px;
    font-family: 'FuturaNewBook-Reg', sans-serif;
}

.delivery_box  h1, .contacts_box h1 {
    font-size: 1.75em;
}

.delivery_box h2 {
    font-size: 1.35em;
}

.delivery_box p{
    font-size: 13px;
    width: 700px;
}

.phones li {
    text-decoration: underline;
    margin-top: 5px;
    cursor: pointer;
}

.phones li:hover {
    text-decoration: none;
}

.about_box p {
    width: 450px;
    font-size: 16px;
}